[submodule "kernel/uACPI"]
	path = kernel/uACPI
	url = https://github.com/uACPI/uACPI
[submodule "kernel/flanterm"]
	path = kernel/flanterm
	url = https://github.com/Mintsuki/Flanterm
	branch = trunk
